/*----------------------------------- General ------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    background: linear-gradient(to bottom, #000, #7758885f, #a8a87b29);
    background-size: 100% 100%;
    animation: gradient 60s ease infinite;


}

/* bg 渐变 */
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#body_box {
    background-size: 100%;
}

a {
    color: #149ddd;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Raleway", sans-serif;
}



.img {
    max-width: 20%;
    max-height: 20%;
    margin-right: 280px;
    display: inline-block;
}





html {
    scroll-behavior: smooth;
    /* 滚动模式 */
}


/* Sections General */

section {

    padding: 60px 0;
    overflow: hidden;

}

.section-bg {
    background: #f5f8fd31;
}

.section-title {
    display: flex;
    padding-bottom: 30px;
    margin: 40px;
}

.section-title h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #747484;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #9c336f99;
    bottom: 0;
    left: 0;
}

.section-title h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #747484;
}

.contact p {

    text-align: center;
    font-weight: 700;
    font-size: 25pt;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Shantell Sans', cursive;
}

/*---------------------------------- Section------------------------------------ */
/* intro Section */
#intro {

    width: 100%;
    height: 140vh;

}


#intro .intro-container {

    text-align: left;
    position: relative;
    left: 20%;
    top: 15%;

}

#intro h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#intro p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Popins", sans-serif;
}

#intro p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #a00e2e;
}

.circle {
    display: relative;
    overflow: hidden;
    /* 隱藏邊界之外的部分 */
    border-radius: 50%;
    /* 將元素設置為圓形 */
    width: 20em;
    /* 設置元素寬度 */
    height: 20em;
    /* 設置元素高度 */
}

.circle img {
    position: absolute;
    width: 50%;
    /* 讓圖片填滿整個圓形 */
    height: 30%;
    /* 自動計算高度 */
}

@media (min-width: 1024) {
    #intro {
        background-attachment: fixed;
        /* 背景图位置 */
    }
}

@media (max-width: 768px) {
    #intro h1 {
        font-size: 25px;
        line-height: 32px;
    }

    #intro h2 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}

/* Catchcopy*/

.catchcopy-container {
    width: 100%;
    height: 200vh;
    text-align: center;
    background-color: rgba(123, 80, 217, 0.382);
    background-image: url("../img/sky.jpg");
    opacity: 0.5;
    /* background-size: cover; */
    -webkit-animation: slidein 20s;
    animation: slidein 20s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;


    background-blend-mode: overlay;
    filter: blur(3px) -webkit-backdrop-filter: blur(10px);
}



@-webkit-keyframes slidein {
    from {
        background-position: 0px;
        background-size: 2000px;
    }

    to {
        background-position: -200px 0px;
        background-size: 1750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 5000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

.catchcopy-container h1 {

    text-align: center;
    padding-top: 200px;
    color: rgba(255, 255, 255, 0.714);
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    z-index: 100;
    font-size: 3em;
}



.catchcopyText p {
    display: inline-block;
    text-align: left;
    padding: 100px 15px;
    font-family: 'Bree Serif', serif;
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.catchcopy_img {
    width: 50%;
    position: relative;

}

/* Number */


.number .col {
    margin: 100px auto 150px;

}

/* 数字 */
.number .col span {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    color: #050d18;
    margin-left: 60px;
}

.number .col strong {
    font-size: 20px;
    line-height: 40px;
    font-weight: 800;
    color: #050d18;
    margin-left: 60px;
}

.number .col a:hover {
    color: #a00e2e;
}

.click-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 30px solid #fdfbfc95;
    cursor: pointer;
    color: #fdfbfc95;
    line-height: auto;
}

/* portfolio section */
.portfolio .portfolio-item {

    margin-bottom: 30px;
}

/* 作品选择器 */
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 80px auto;
    list-style: none;
    text-align: center;
    background: #ffffff8e;
    border-radius: 18px;
    padding: 2px 15px;
}

/* 作品选择器 list样式 */
.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #082644b7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

/* 作品选择器hover字的颜色 */
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #a93951;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}


.portfolio-lightbox .data-glightbox .caption {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 36px;
    background-color: #333;
}



.img-fluid {
    width: 80%;
}

/* Contact */
.contact {
    padding-bottom: 130px;
}

.contact .info {
    height: 30px;
    padding: 30px;
    background: #00000000;
    width: 100%;

}

.back-to-top {
    display: none;
    position: fixed;
    /* 将元素设置为固定定位 */
    bottom: 50vh;
    /* 将元素设置在底部距离浏览器窗口底部20px的位置 */
    right: -80px;
    /* 将元素设置在右侧距离浏览器窗口右侧20px的位置 */
}

.back-to-top img {

    width: 15%;
    opacity: 0.5;
}

/*----------------------------------  Bottom--------------------------------------------------- */

#logo_end {
    display: block;
    position: relative;
    z-index: 2;
    margin: auto;
    width: 30%;
}

@media (max-width: 768px) {
    #intro {
        width: 100%;
        height: 50vh;
        background-position: 70%;
    }

    .catchcopy-container {
        height: 100vh;
        /* height: 25%; */
    }

    .catchcopyTitle {
        padding-top: 80px;
        /* height: 25%; */
    }

    .catchcopy_img {
        width: 100%;
        height: 30vh;
    }


    .number .col {
        margin: 10px auto 15px;
        /* text-align: right; */
        position: 50%;
        width: 500px;
        /* flex-direction: column; */

    }

    /* 数字 */
    .number .col span {
        font-size: 25px;
        line-height: 20px;
        font-weight: 400;
        color: #050d18;
        margin-left: 30px;
    }

    .number .col strong {
        font-size: 10px;
        line-height: 25px;
        font-weight: 400;
        color: #050d18;
        margin-left: 30px;

    }

    .click-arrow {
        /* display: inline-block; */
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 15px solid #fdfbfc95;
        cursor: pointer;
        color: #fdfbfca2;
        line-height: 12px;
        font-size: 9px;

    }

    .number img {
        display: none;

    }

    .contact p {
        font-size: 14pt;
    }

    .portfolio-wrap a {
        padding-left: 35px;
    }

    .portfolio #portfolio-flters {
        padding: 0;
        margin: 0 auto 10px auto;
        list-style: none;
        text-align: center;
        background: #ffffff8e;
        border-radius: 18px;
        padding: 2px 4px;
    }

    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    s .breadcrumbs ol li {
        display: inline-block;
    }

    .catchcopy-container {
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: rgba(123, 80, 217, 0.382);
        background-image: url("../img/sky.jpg");
        opacity: 0.5;
        background-size: cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: none;
        animation-fill-mode: none;

        -webkit-animation-iteration-count: 0;
        animation-iteration-count: 0;

        -webkit-animation-direction: none;
        animation-direction: none;


        background-blend-mode: overlay;
        filter: blur(3px) -webkit-backdrop-filter: blur(10px);
    }

    .catchcopyText {
        height: 50%;
        position: center center;
    }

    .catchcopy-container img {
        width: 100%;
        bottom: 5vh;
    }

    .catchcopyTitle {
        padding-top: 100px;
    }

    @-webkit-keyframes slidein {
        from {
            background-position: center;
            background-size: 800px;
        }

        to {
            background-position: center;
            background-size: 800px;
        }
    }

    @keyframes slidein {
        from {
            background-position: top;
            background-size: 500px;
        }

        to {
            background-position: top;
            background-size: 500px;
        }

    }

    .back-to-top {
        display: none;
    }

    .back-to-top img {
        display: none;
    }


}

@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }

}