/*----------------------------------- General ------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    background: linear-gradient(to bottom, #000, #7758885f, #a8a87b29);
    background-size: 100% 100%;
    animation: gradient 60s ease infinite;


}

/* bg 渐变 */
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#body_box {
    background-size: 100%;
}

a {
    color: #149ddd;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Raleway", sans-serif;
}



/* .img {
    max-width: 20%;
    margin-right: 15%;
}

@media (max-width:1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }
}

 */


html {
    scroll-behavior: smooth;
    /* 滚动模式 */
}


/* Sections General */

section {

    padding: 60px 0;
    overflow: hidden;

}

.section-bg {
    background: #f5f8fd31;
}

.section-title {
    display: flex;
    padding-bottom: 30px;
    margin: 40px;
}

.section-title h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #747484;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #9c336f99;
    bottom: 0;
    left: 0;
}


.contact p {

    text-align: center;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Shantell Sans', cursive;
}

/*---------------------------------- Section------------------------------------ */
/* intro Section */
#intro {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url("../img/piano.jpg");
    background-size: cover;
}

#intro:before {
    content: "";
    background: rgba(89, 74, 85, 0.272);
    background-blend-mode: screen;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#intro .intro-container {

    text-align: left;
    position: absolute;
    margin: 260px;
    z-index: 2;
    min-width: 750px;

}

#intro h1 {
    margin: 0 0 10px 0;
    font-size: 4em;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#intro p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 1.6em;
    font-family: "Popins", sans-serif;
}

#intro p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #a00e2e;
}



@media (min-width: 1024px) {
    #intro {
        background-attachment: fixed;
        /* 背景图位置 */
    }
}

@media (max-width: 768px) {
    #intro {
        background-attachment: scroll;
        /* 背景图位置 */
    }

    #intro h1 {
        font-size: 1.7em;
        line-height: 2.2em;
    }

    #intro h2 {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 1.9em;
    }
}

/* Catchcopy*/

.catchcopy-container {
    width: 100%;
    height: 160vh;
    text-align: center;
    background-color: rgba(123, 80, 217, 0.382);
    background-image: url("../img/beach.jpg");
    opacity: 0.5;
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;


    background-blend-mode: overlay;
    filter: blur(3px) -webkit-backdrop-filter: blur(10px);
}



@-webkit-keyframes slidein {
    from {
        background-position: center;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 5000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

.catchcopy-container h1 {

    text-align: center;
    color: rgba(255, 255, 255, 0.714);
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    z-index: 1000;
}




.catchcopyTitle {

    padding-top: 12.5em;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-family: 'Zen Old Mincho', serif;
}

.catchcopyText p {
    display: inline-block;
    text-align: left;
    padding: 6em 1em;
    font-family: 'Bree Serif', serif;
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}



/* Number */


.number .col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

/* 数字 */
.number .col span {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    color: #050d18;
    margin-left: 60px;
}

.number .col strong {
    font-size: 20px;
    line-height: 40px;
    font-weight: 800;
    color: #050d18;
    margin-left: 60px;
}

.number .col a:hover {
    color: #a00e2e;
}

/* portfolio section */
.portfolio .portfolio-item {

    margin-bottom: 30px;
}

/* 作品选择器 */
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 80px auto;
    list-style: none;
    text-align: center;
    background: #ffffff8e;
    border-radius: 18px;
    padding: 2px 15px;
}

/* 作品选择器 list样式 */
.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #082644b7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

/* 作品选择器hover字的颜色 */
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #a93951;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

/* 作品区域 */
.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}


/* 鼠标靠近点击作品的放大 */
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #a00e2e;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

.img-fluid {
    width: 80%;
}

/* Contact */
.contact {
    padding-bottom: 130px;
}

.contact .info {
    padding: 30px;
    background: #00000000;
    width: 100%;

}



/*----------------------------------  Bottom------------------------------------ */

#logo_end {
    display: block;
    position: relative;
    z-index: 2;
    margin: auto;
    width: 30%;
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    s .breadcrumbs ol li {
        display: inline-block;
    }
}

@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }

}